@import "tailwindcss";

:root {
  font-family: Inter, "Segoe UI", sans-serif;
  color: #0f172a;
  background: #a5a4a4;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  background: #F7F7F7;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #F7F7F7;
}

a {
  text-decoration: none;
}